html[lang=it] .about_alt_screen1 .flex-container .left h1 span {
    color: #fe0162;
    white-space: nowrap;
  }
  html[lang=it] .about_alt_screen1 .flex-container .left h1 span u {
    display: inline-block;
    margin-left: 0;
  }
  html[lang=it] .about_alt_screen1 .flex-container .left h1 b:after {
    background: url(../img/decor-4-it.png) no-repeat 50%;
    background-size: contain;
    height: 168%;
    left: -26.5%;
    top: -51%;
  }
  @media (max-width: 992px) {
    html[lang=it] .about_alt_screen1 .flex-container .left h1 b:after {
      height: 158%;
      top: -42%;
    }
  }
  html[lang=it] .about_alt_screen1 .flex-container .left h1 .pc-visible div {
    margin-left: 110px;
  }
  
  .city_tp, .city_tx {
    transition: 0.2s;
  }
  
  .city_point {
    transition: 0.2s;
  }
  .city_point.active {
    fill: #fe0162;
  }
  
  .last_block .section-heading {
    font-size: 90px;
  }
  .last_block .bort {
    border-bottom: 1px solid #D9D9D9;
  }
  
  .newabout-screen3 .dec {
    display: none !important;
  }
  
  .text-image-wrap {
    display: flex;
    padding-bottom: 111px;
    margin-top: 120px;
    position: relative;
  }
  @media (max-width: 1024px) {
    .text-image-wrap {
      margin-top: 67px;
      display: block;
      padding-bottom: 232px;
    }
  }
  .text-image-wrap .right {
    width: 50%;
    max-width: 631px;
    margin-left: auto;
  }
  @media (max-width: 1024px) {
    .text-image-wrap .right {
      width: 100%;
      margin-left: 0;
    }
  }
  .text-image-wrap .simple-text p {
    margin-bottom: 0;
  }
  .text-image-wrap .simple-text p:not(:first-of-type) {
    margin-top: 31px !important;
  }
  .text-image-wrap img {
    width: 513px;
    position: absolute;
    left: -130px;
    bottom: -123px;
    height: auto;
  }
  @media (max-width: 1024px) {
    .text-image-wrap img {
      left: -55px;
      top: 100%;
      bottom: unset;
      transform: translateY(-164px);
      width: 316px;
    }
  }
  
  .our-map {
    position: relative;
    z-index: 1;
    margin-bottom: -7px;
  }
  @media (max-width: 1024px) {
    .our-map {
      width: calc(100% + 40px);
      margin-left: -20px;
      margin-bottom: 0;
    }
  }
  .our-map img, .our-map svg {
    width: 100%;
  }
  
  .about-us-alt-cards {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row-reverse;
    row-gap: 43px;
    margin-top: 117px;
    padding-bottom: 209px;
  }
  @media (max-width: 1024px) {
    .about-us-alt-cards {
      row-gap: 32px;
      margin-top: 68px;
      padding-bottom: 64px;
    }
  }
  .about-us-alt-cards .card {
    padding: 40px;
    background: #EBEBEB;
    border-radius: 20px;
    position: relative;
    width: calc(50% - 20px);
    display: flex;
    flex-direction: column;
  }
  .about-us-alt-cards .card:nth-of-type(even) {
    transform: translateY(87px);
  }
  @media (max-width: 1024px) {
    .about-us-alt-cards .card {
      width: 100%;
      padding: 40px 20px;
      transform: translateY(0) !important;
      min-height: 320px;
    }
  }
  .about-us-alt-cards .card span {
    background: #1F2122;
    width: 49px;
    height: 25px;
    display: flex;
    border-radius: 15px;
    font-size: 14px;
    text-align: center;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 20px;
    right: 20px;
    color: white;
  }
  @media (max-width: 1024px) {
    .about-us-alt-cards .card span {
      right: 8px;
      top: 8px;
    }
  }
  .about-us-alt-cards .card .title {
    margin-bottom: 92px;
    font-size: 34px;
    line-height: 125%;
    font-weight: 700;
  }
  @media (max-width: 1024px) {
    .about-us-alt-cards .card .title {
      font-size: 28px;
      margin-bottom: 60px;
      letter-spacing: -0.05em;
      line-height: 100%;
    }
  }
  .about-us-alt-cards .card .txt {
    margin-top: auto;
  }
  .about-us-alt-cards .card .txt p {
    font-size: 18px;
    line-height: 170%;
  }
  
  .full-media-screen {
    padding-bottom: 64px;
  }
  .full-media-screen.pt {
    padding-top: 64px;
  }
  .full-media-screen.pt2 {
    padding-top: 61px;
  }
  .full-media-screen img, .full-media-screen picture, .full-media-screen video {
    width: 100%;
  }
  .full-media-screen img {
    height: auto;
  }
  
  .ds6 {
    padding-top: 120px !important;
  }
  
  .decorable.decorable-lime b, .decorable.decorable-lime strong {
    color: #E3F954;
  }
  .decorable.decorable-lime b:after, .decorable.decorable-lime strong:after {
    height: 10px;
    background: url("../img/awards/line-lime.png") no-repeat center;
    background-size: 100% 100%;
  }
  .decorable u {
    text-decoration: none;
    color: #fe0162;
  }
  .decorable b, .decorable strong {
    position: relative;
    color: #fe0162;
  }
  .decorable b:after, .decorable strong:after {
    content: "";
    width: 100%;
    height: 7px;
    top: 85%;
    left: 0;
    background: url("../img/la1.png") no-repeat center;
    background-size: 100% 100%;
    position: absolute;
  }
  .decorable span {
    position: relative;
    color: #fe0162;
  }
  .decorable span:after {
    content: "";
    width: 110%;
    height: 89%;
    top: 2%;
    left: -5%;
    background: url("../img/text-circle.png") no-repeat center;
    background-size: 100% 100%;
    position: absolute;
    z-index: -1;
  }
  .decorable strong:after {
    background: url("../img/ln2.png") no-repeat center;
    background-size: 100% 100%;
  }
  
  .dec-underline strong:after {
    content: "";
    width: 100%;
    height: 9px;
    position: absolute;
    left: 0;
    top: 89%;
    background: url("../img/services/linedown.png") no-repeat center;
    background-size: 100% 100%;
  }
  
  .about_alt_screen1 {
    padding: 143px 0 132px;
  }
  .about_alt_screen1 .flex-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .about_alt_screen1 .flex-container .left {
    width: calc(60% - 40px);
    position: relative;
    z-index: 1;
  }
  .about_alt_screen1 .flex-container .left h1 {
    font-weight: 700;
    font-size: 90px;
    line-height: 85%;
  }
  .about_alt_screen1 .flex-container .left h1 strong strong {
    white-space: nowrap;
    padding-left: 36px;
  }
  .about_alt_screen1 .flex-container .left h1 b, .about_alt_screen1 .flex-container .left h1 em {
    color: #fe0162;
    display: inline-block;
    position: relative;
  }
  .about_alt_screen1 .flex-container .left h1 b:after, .about_alt_screen1 .flex-container .left h1 em:after {
    content: "";
    width: 153%;
    height: 150%;
    position: absolute;
    left: -25.5%;
    top: -13%;
    background: url("../img/arrow-circle.png") no-repeat center;
    background-size: contain;
  }
  .about_alt_screen1 .flex-container .left h1 em:after {
    filter: brightness(10);
  }
  .about_alt_screen1 .flex-container .left h1 u {
    color: #fe0162;
    position: relative;
    text-decoration: none;
    margin-left: 100px;
    display: inline-block;
  }
  .about_alt_screen1 .flex-container .left h1 u:after {
    content: "";
    width: 100%;
    height: 13px;
    background: url("../img/services/ll.png") no-repeat center;
    background-size: 100% 100%;
    position: absolute;
    left: 0;
    top: 100%;
    transform: scale(-1, 1);
  }
  .about_alt_screen1 .flex-container .left h1 s {
    color: #fe0162;
    position: relative;
    text-decoration: none;
  }
  .about_alt_screen1 .flex-container .left h1 s:after {
    content: "";
    width: 100%;
    height: 21px;
    background: url("../img/arrow-circle.png") no-repeat center;
    background-size: 100% 100%;
    position: absolute;
    left: 0;
    top: 90%;
  }
  .about_alt_screen1 .flex-container .left .bottom {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 36px;
  }
  .about_alt_screen1 .flex-container .left .bottom .txt {
    font-size: 18px;
    line-height: 170%;
    width: 100%;
    max-width: 515px;
    padding-top: 45px;
  }
  .about_alt_screen1 .flex-container .left .bottom .circle-btn {
    border: none;
  }
  .about_alt_screen1 .flex-container img {
    width: calc(40% + 100px);
    margin-left: -67px;
    margin-right: -51px;
    position: relative;
    top: 56px;
  }
  
  .web_design_screen2 {
    padding-top: 120px;
  }
  .web_design_screen2 .service-cards .card .top {
    width: calc(100% - 240px);
  }
  .web_design_screen2 .service-cards .card:not(.full) .top {
    margin-bottom: 0;
  }
  .web_design_screen2 .section-heading b {
    color: #fe0162;
  }
  .web_design_screen2 .section-heading span {
    color: #fe0162;
    position: relative;
  }
  .web_design_screen2 .section-heading span:before {
    content: "";
    width: 105%;
    height: 94%;
    position: absolute;
    left: -2%;
    top: 5%;
    background: url("../img/services/circle.png") no-repeat center;
    background-size: 100% 100%;
  }
  .web_design_screen2 .section-heading u {
    color: #fe0162;
    position: relative;
    text-decoration: none;
  }
  .web_design_screen2 .section-heading u:after {
    content: "";
    width: 100%;
    height: 10px;
    background: url("../img/services/underline.png") no-repeat center;
    background-size: 100% 100%;
    position: absolute;
    left: 0;
    top: 100%;
  }
  
  .web_design_screen3 {
    padding-top: 64px;
  }
  .web_design_screen3 .sh-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .web_design_screen3 .sh-wrap .section-heading {
    width: calc(100% - 130px);
  }
  .web_design_screen3 .sh-wrap .apparr {
    width: 130px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  .web_design_screen3 .section-heading span {
    color: #fe0162;
  }
  .web_design_screen3 .section-heading span {
    position: relative;
  }
  .web_design_screen3 .section-heading span:after {
    content: "";
    width: 61px;
    height: 66px;
    position: absolute;
    left: 100%;
    bottom: 55%;
    background: url("https://cdn.kksmartcom.com/wp-content/themes/kksmartcom/img/services/maz.svg") no-repeat center;
    background-size: contain;
  }
  
  .after-cases-cta-btn {
    margin-top: 32px;
    padding-left: 270px;
    position: relative;
    padding-bottom: 95px;
  }
  .after-cases-cta-btn:before {
    content: "";
    width: 316px;
    height: 130px;
    position: absolute;
    top: 116px;
    left: -70px;
    background: url("https://cdn.kksmartcom.com/wp-content/themes/kksmartcom/img/services/snake-arrow.svg") no-repeat center;
    background-size: contain;
  }
  .after-cases-cta-btn .circle-btn {
    border: none;
  }
  .after-cases-cta-btn .circle-btn:hover:before {
    background: #E3F954;
  }
  
  .mw630 {
    max-width: 630px;
  }
  
  .web_design_screen4 {
    padding-top: 120px;
  }
  .web_design_screen4 .subheading {
    margin-bottom: 32px;
  }
  .web_design_screen4 .simple-text {
    font-size: 22px;
    font-weight: 500;
    line-height: 140%;
    margin-top: 40px;
  }
  .web_design_screen4 .swipe-cards {
    margin-top: 64px;
  }
  .web_design_screen4 .section-heading b, .web_design_screen4 .section-heading strong, .web_design_screen4 .section-heading em {
    color: #fe0162;
    position: relative;
  }
  .web_design_screen4 .section-heading b:after, .web_design_screen4 .section-heading strong:after, .web_design_screen4 .section-heading em:after {
    content: "";
    width: 100%;
    height: 7px;
    position: absolute;
    left: 0;
    top: 88%;
  }
  .web_design_screen4 .section-heading u {
    text-decoration: none;
    color: #fe0162;
    position: relative;
  }
  .web_design_screen4 .section-heading u:after {
    content: "";
    width: 100%;
    height: 10px;
    background: url("../img/services/underline.png") no-repeat center;
    background-size: 100% 100%;
    position: absolute;
    left: 0;
    top: 80%;
  }
  .web_design_screen4 .section-heading b:after, .web_design_screen4 .section-heading em:after {
    background: url("../img/services/lineup.png") no-repeat center;
    background-size: 100% 100%;
  }
  .web_design_screen4 .section-heading em:after {
    top: 80%;
  }
  .web_design_screen4 .section-heading strong:after {
    background: url("../img/services/linedown.png") no-repeat center;
    background-size: 100% 100%;
  }
  
  @media (min-width: 992px) {
    .web_design_screen2 .service-cards .card.full {
      width: 100%;
      min-height: 294px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex-direction: row !important;
    }
    .web_design_screen2 .service-cards .card.full .top {
      margin-bottom: 0 !important;
      width: calc(100% - 229px);
      max-width: calc(100% - 229px);
    }
  
    .newabout-screen3 {
      padding-top: 120px !important;
    }
  
    .newabout-screen3 .dec::after {
      top: -160px !important;
    }
  
    .newabout-screen3 .flex-row.mrgt120 {
      margin-top: 122px !important;
    }
  }
  @media (max-width: 1330px) {
    .decorable.decorable-lime b:after, .decorable.decorable-lime strong:after {
      height: 10px;
    }
    .decorable b:after, .decorable strong:after {
      height: 7px;
    }
    .decorable span:after {
      width: 110%;
      height: 100%;
      top: 5%;
      left: -5%;
    }
  }
  @media (max-width: 1110px) {
    .decorable {
      line-height: 100% !important;
    }
    .decorable.decorable-lime b:after, .decorable.decorable-lime strong:after {
      height: 10px;
    }
    .decorable b:after, .decorable strong:after {
      height: 7px;
    }
    .decorable span:after {
      width: 110%;
      height: 100%;
      top: 5%;
      left: -5%;
    }
  }
  form .attach-wrap {
    margin-top: 17px !important;
  }
  
  html .sfr9 {
    padding-bottom: 67px !important;
  }
  @media (max-width: 1024px) {
    html .sfr9 {
      padding-bottom: 30px !important;
    }
  }
  html .sfr9 .section-heading {
    font-size: 90px;
  }
  @media (max-width: 1024px) {
    html .sfr9 .section-heading {
      font-size: 56px !important;
      line-height: 90% !important;
    }
  }
  
  @media (max-width: 1024px) {
    .last_block .two-columns .col p {
      line-height: 120% !important;
      margin-top: 3px !important;
    }
  }
  
  @media (max-width: 1180px) {
    .about_alt_screen1 .flex-container .left h1 {
      font-size: 56px;
      line-height: 90%;
    }
  }
  @media (max-width: 1180px) and (max-width: 340px) {
    .about_alt_screen1 .flex-container .left h1 {
      font-size: 45px;
    }
  }
  @media (max-width: 1180px) {
    .about_alt_screen1 .flex-container .left h1 u {
      margin-left: 0;
    }
  }
  @media (max-width: 1180px) {
    .about_alt_screen1 .flex-container .left h1 b {
      margin-left: 0;
    }
    .about_alt_screen1 .flex-container .left h1 b:after {
      content: "";
      width: 153%;
      height: 151%;
      position: absolute;
      left: -27.5%;
      top: -15%;
    }
  }
  @media (max-width: 992px) {
    html .cta_button a {
      height: 120px !important;
    }
  
    .cta_button a svg {
      height: auto;
      margin-bottom: 3px !important;
    }
  
    form .attach-wrap {
      margin-top: 13px !important;
    }
  
    .last_block .bort {
      border-bottom: none;
    }
  
    .full-media-screen {
      padding-bottom: 0;
    }
    .full-media-screen.pt {
      padding-top: 64px;
    }
    .full-media-screen.pt2 {
      padding-top: 61px;
    }
    .full-media-screen .wrap {
      padding: 0;
    }
  
    .after-cases-cta-btn {
      margin-top: 32px;
      padding-left: 0;
      position: relative;
      padding-bottom: 112px;
    }
    .after-cases-cta-btn:before {
      content: "";
      width: 200px;
      height: 90px;
      position: absolute;
      top: 166px;
      left: -32px;
      background: url("https://cdn.kksmartcom.com/wp-content/themes/kksmartcom/img/services/snake-arrow.svg") no-repeat center;
      background-size: contain;
    }
    .after-cases-cta-btn .circle-btn {
      border: none;
      margin-left: auto;
      width: 184px;
      height: 184px;
    }
  
    .web_design_screen4 {
      padding-top: 62px;
    }
    .web_design_screen4 .section-heading br {
      display: block;
    }
    .web_design_screen4 .simple-text {
      margin-top: 26px;
    }
  
    .secrives-new-screen-9 .screen9-inner {
      padding-top: 64px !important;
    }
  
    .sfr9 img {
      width: 303px !important;
    }
  
    .last_block .two-columns .col p {
      max-width: 319px !important;
    }
  
    .newabout-screen3 {
      padding: 65px 0 45px !important;
    }
  
    .cta_button a {
      height: 166px !important;
    }
  
    .ds6 {
      padding: 64px 0 !important;
    }
    .ds6 .service-cards .card .top {
      margin-bottom: 17px;
    }
  
    .discovery_faq_screen {
      padding-top: 0 !important;
      padding-bottom: 64px !important;
    }
  
    .screen2.lb .flex-row .w60 {
      margin-top: 9px !important;
    }
    .screen2.lb .flex-row .w60 .p {
      margin-top: 29px !important;
    }
  
    .decorable {
      line-height: 125% !important;
    }
  
    .about_alt_screen1 {
      padding-top: 136px;
      padding-bottom: 33px;
    }
    .about_alt_screen1 .flex-container {
      display: block;
    }
    .about_alt_screen1 .flex-container .left {
      width: 100%;
    }
    .about_alt_screen1 .flex-container .left h1 {
      font-size: 56px;
      line-height: 90%;
    }
  }
  @media (max-width: 992px) and (max-width: 340px) {
    .about_alt_screen1 .flex-container .left h1 {
      font-size: 45px;
    }
  }
  @media (max-width: 992px) {
    .about_alt_screen1 .flex-container .left h1 b {
      margin-left: 0;
    }
    .about_alt_screen1 .flex-container .left h1 b:after {
      content: "";
      width: 153%;
      height: 151%;
      position: absolute;
      left: -27.5%;
      top: -15%;
    }
  }
  @media (max-width: 992px) {
    .about_alt_screen1 .flex-container .left h1 em {
      margin-left: 0;
    }
    .about_alt_screen1 .flex-container .left h1 em:after {
      bottom: 80%;
      width: 40px;
      height: 40px;
    }
  }
  @media (max-width: 992px) {
    .about_alt_screen1 .flex-container .left h1 s:after {
      top: 84%;
    }
  }
  @media (max-width: 992px) {
    .about_alt_screen1 .flex-container .left h1 u {
      margin-left: 0;
      padding-left: 0;
    }
  }
  @media (max-width: 992px) {
    .about_alt_screen1 .flex-container .left .bottom {
      display: block;
      margin-top: 18px;
    }
    .about_alt_screen1 .flex-container .left .bottom .circle-btn {
      display: none !important;
    }
    .about_alt_screen1 .flex-container .left .bottom .txt {
      width: 100%;
      padding-top: 0;
    }
    .about_alt_screen1 .flex-container .left .bottom .mob-visible {
      margin-top: 41px;
    }
    .about_alt_screen1 .flex-container .left .bottom .mob-visible .lime {
      background: #E3F954;
      padding: 0 20px;
      color: #1F2122;
    }
    .about_alt_screen1 .flex-container .left .bottom .mob-visible .lime:hover {
      background: #fe0162;
    }
    .about_alt_screen1 .flex-container .left .bottom .mob-visible .lime svg path {
      fill: #1F2122;
    }
  }
  @media (max-width: 992px) {
    .about_alt_screen1 .flex-container img {
      width: 100%;
      max-width: 280px;
      margin-top: 33px;
      top: 10px;
      margin-right: 0;
      margin-left: 0;
      transform: scale(-1, 1) !important;
    }
  }
  @media (max-width: 992px) {
    .web_design_screen2 {
      padding-top: 64px;
    }
    .web_design_screen2 .section-heading br {
      display: block !important;
    }
    .web_design_screen2 .section-heading span:before {
      width: 115%;
      height: 94%;
      left: -6%;
      top: 11%;
    }
    .web_design_screen2 .section-heading u:after {
      top: 90%;
    }
    .web_design_screen2 .service-cards {
      margin-top: 34px;
    }
    .web_design_screen2 .service-cards .card .top {
      margin-bottom: 20px !important;
    }
    .web_design_screen2 .service-cards .card .mob-visible {
      order: 3;
    }
    .web_design_screen2 .service-cards .card img {
      opacity: 0;
      visibility: hidden;
    }
    .web_design_screen2 .service-cards .card img.published_service_image {
      opacity: 1;
      visibility: visible;
    }
  }
  @media (max-width: 992px) {
    .web_design_screen2 .service-cards .card .top {
      width: 100%;
    }
  }
  @media (max-width: 992px) {
    .web_design_screen3 .sh-wrap .section-heading {
      width: 100%;
    }
    .web_design_screen3 .sh-wrap .section-heading br {
      display: block !important;
    }
    .web_design_screen3 .sh-wrap .section-heading span:after {
      width: 30px;
      height: 30px;
    }
    .web_design_screen3 .sh-wrap .apparr {
      display: none;
    }
  }
  @media (max-width: 992px) {
    .web_design_screen4 .subheading {
      margin-bottom: 16px;
    }
  }